<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="x" class="col-2 control-label">x</label>
      <div class="col-10">
        <input type="number" class="form-control" id="x" value="<%= rect.x %>">
      </div>
    </div>

    <div class="form-group">
      <label for="y" class="col-2 control-label">y</label>
      <div class="col-10">
        <input type="number" class="form-control" id="y" value="<%= rect.y %>">
      </div>
    </div>

    <div class="form-group">
      <label for="width" class="col-2 control-label">width</label>
      <div class="col-10">
        <input type="number" class="form-control" id="width" value="<%= rect.width %>">
      </div>
    </div>

    <div class="form-group">
      <label for="height" class="col-2 control-label">height</label>
      <div class="col-10">
        <input type="number" class="form-control" id="height" value="<%= rect.height %>">
      </div>
    </div>
  </fieldset>
</form>
