<form>
  <fieldset>
    <div class="form-group">
      <label for="x">x</label>
      <input type="number" class="form-control" id="x" value="<%= rect.x %>">
    </div>

    <div class="form-group">
      <label for="y">y</label>
      <input type="number" class="form-control" id="y" value="<%= rect.y %>">
    </div>

    <div class="form-group">
      <label for="width">width</label>
      <input type="number" class="form-control" id="width" value="<%= rect.width %>">
    </div>

    <div class="form-group">
      <label for="height">height</label>
      <input type="number" class="form-control" id="height" value="<%= rect.height %>">
    </div>
  </fieldset>
</form>
